.color-system-container,
.color-system-item {
    display: flex;
}

.color-system-container {
    flex-direction: row;
    .color-system-item {
        flex-direction: column;
        flex-grow: 1;
    }
}

.center-horizontal-vertical {
    justify-content: center;
}

.font-white {
    @include font-color($white);
}

.font-black {
    @include font-color($black);
}

.item {
    height: 50px;
}


