body.submission-page {
    @extend body.forgot-page;
    .page-wrapper {
        .container {
            .form-bg{
                    padding: 25px 65px;
            }
            h2 {
                &.text-uppercase {
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
            p{
                font-size: 15px;
                small,a{
                    font-size: 12px;                    
                }
                small{
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}