html {
  -webkit-font-smoothing: antialiased;
  @include font($font-family-open-sans, 12px, 1.5);
  height: 100%;
}
body{
  @include font($font-family-open-sans, 1em, 1.5);
  height: 100%;
  color: $color-black;
}

h1{
  @include font($font-family-kreon, 3em, 1.166666666666667, 700);
}
h2{
  @include font($font-family-open-sans, 2.33em, 1.285714285714286, 700);
}
h3{
  @include font($font-family-open-sans, 1.33em, 1.5, 700);
}
h4{
  @include font($font-family-open-sans, 1.167em, 1.571428571428571, 700);
}
h5{
  @include font($font-family-open-sans, 1em, 1.5 ,700);
}
h6{
  @include font($font-family-open-sans, 0.83em, 1.5, 700);
}

a{
  color: $color-cyan;
  text-decoration: none;

  &:hover{
    color: $color-teal;
    text-decoration: none;
  }
}

.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}

.inverse {
  color: $color-white;
  background-color: $color-black;
}
