html {
  @include font($font-family-open-sans, 12px, 1.5, 400);
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include font($font-family-open-sans, 1em, 1.5, 400);
  color: $color-black;
  margin-bottom: 50px;
}

h1{
  @include font($font-family-kreon, 3em, 1.166666666666667, 700);
}
h2{
  @include font($font-family-open-sans, 2.333333333333333em, 1.285714285714286, 700);
}
h3{
  @include font($font-family-open-sans, 1.333333333333333em, 1.5, 700);
}
h4{
  @include font($font-family-open-sans, 1.166666666666667em, 1.571428571428571, 700);
}
h5{
  @include font($font-family-open-sans, 1em, 1.5 ,700);
}
h6{
  @include font($font-family-open-sans, 0.833333333333333em, 1.5, 700);
}

a{
  color: $color-cyan;
  text-decoration: none;

  &:focus,
  &:hover{
    color: $color-teal;
    text-decoration: none;
  }
}

.normal {
  font-weight: 400 !important;
}
.bold {
  font-weight: 700 !important;
}
.italic {
  font-style: italic !important;;
}
.capitalize {
  text-transform: capitalize !important;
}
.uppercase {
  text-transform: uppercase !important;;
}

.inverse {
  color: $color-white;
  background-color: $color-black;
}
.full-height {
  height: 100%;
}
