.btn:-webkit-autofill,
.btn:-webkit-autofill:hover,
.btn:-webkit-autofill:focus,
.btn:-webkit-autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

button {
    font-family: $font-family-kreon;
    font-weight: 700;
    display: inline-block;
    color: $color-grey;
    text-transform: uppercase;
    margin: 5px;
    padding: 2px 20px;
    position: relative;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: $white;
    background-clip: padding-box;
    cursor: pointer;
    min-width: 100px;

    &::after {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        content: '';
        z-index: -1;
        border-radius: 15px;
        @include linear-gradient(45deg, $cyan 0%, $purple 100%);
    }
    &:hover, &:focus{
      color: $color-white;
      background-color: transparent;
    }
}

//Button Default

.btn {
    @extend button;
}


//Button Login

button.btn-login,
.btn.btn-login
{
  padding: 15px 40px;
  color: $color-white;
  border: 3px $color-white solid;
  background-color: transparent;
  text-transform: uppercase;
  margin: 30px auto;
  border-radius: 30px;
  @include font($font-family-kreon, 1.5em, 1.444444444444444, 700);

  &:focus,
  &:hover {
    color: $color-cyan;
    background-color: $color-white;
  }
}

//Button Reverse
button.btn-reverse,
.btn.btn-reverse{
  background-color: transparent;
  border: 2px $color-white solid;
  color: $white;
  &:focus,
  &:hover {
    color: $color-cyan;
    background-color: $color-white;
  }
}


//Button Dark
button.btn-dark,
.btn.btn-dark{
  background-color: $color-blue-navy;

  &:focus,
  &:hover {


  }
}

//Button Helper Classes

button.no-width,
.btn.no-width {
    min-width: 0;
}

button.btn-full,
.btn.btn-full {
    display: block;
    width: 100%;
}
