/*==============================
=            Tables            =
==============================*/

/*----------  General Table Styles  ----------*/


.table {
  margin-bottom: 3em;
    thead {

        tr {
            th {
                border-top: 2px solid $grey-light !important;
                padding-top: 2em;
                vertical-align: top;
                line-height: 1.2em;
                a {
                    position: relative;
                    display: inline-block;
                    color: $black;
                    padding-right: 15px;
                    &:hover{
                      color: $dark-grey;
                    }
                    span{
                      position: absolute;
                      right: 0;
                      color: $cyan;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &:hover {
                background: darken($white, 3%);
            }

            a{
              &:hover{
                font-weight: 700;
                color: $cyan;
              }
            }
        }
    }
}

.table-responsive{
  @media (max-width: $screen-md-max){
    margin-bottom: 3em;
  }

  .table-edit{
    border-left: 20px solid $white;
  }
}



/*----------  Labels  ----------*/


.label{
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 13px;
    color: $white;
    border-radius: 50%;
}

.label-success{
  background-color: $color-cyan;
}

.glyphicon-minus{
  &:before{
    content: "-";
  }
}


/*----------  Alerts  ----------*/
.alert-success, .alert-danger{
  font-size: rem(14);
  background-color: transparent;
  vertical-align: middle;
}

.alert-success{
  color: $alert-green;
}
.alert-danger{
  color: $alert-red;
}

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}
.fsm-sticky-header{
  background: #fff;
}
