.tab-content{
  .attendance-header{
    height: 80px;
  }
  .attendance-date{
    width: 30%;
  }
  .attendance-days{
    width:40%;
  }
  .attendance-weekly-change{
    width: 30%;
    .panel{
      &.panel-default{
        width:75%;
        border:1px solid #ddd!important;
        .panel-heading{
          background: white;
          text-transform: uppercase;
        }
      }
    }
  }
  .content{
    padding-top: 5px;
  }
  #attendance_behavior{
    #accordion{
      margin: 0;
      .panel{
        border-radius: 0;
        border:none;
      }
    }
  }
}
.legend-item{
  display: block;
  height:40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color:black;
}
.value{
  margin: 0 2px;
}
.day{
  width: 14.28%;
  &.general{
    height: 36px;
    line-height: 36px;
  }
}
.border-right-2{
  border-right: 2px solid #ddd;
}
.border-left-2{
  border-left: 2px solid #ddd;
}
.attendance-modal,.list-modal{
  padding: 10px;
}
.flex-direction-column{
flex-direction: column;
}
.align-items-baseline{
align-items: baseline;
}

.program-participation{
  margin-right:10px;
}
hr{
  &.transcript{
    border-top: 2px solid black;
    width: 25px;
    margin: 0 0 10px 0;
  }
}
.state,.map{
  width: 50%;
  height: 50px;
  line-height: 50px;
}
.justify-content-space-between{
justify-content: space-between;
}
.arrow{
  margin-right:15px;
}
.tab-content{
  margin-top: 15px;
}
.attendance-year{
  width: 15%;
  position: absolute;
  right: 15px;
  margin-bottom: 2px;
  top: 45px;
}