nav.navbar  {

  height: 80px;

  @media (max-width: $screen-xs-max) {
    background: transparent;
    height: auto;
  }

  .navbar-header {
    width: 15%;
    background-color: $color-blue-navy;

    @media (max-width: $screen-sm-max) {
      width: 20%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;

      button
      {
        .icon-bar
        {
          background-color: $color-white;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      #navbar {
        margin-top: -1px;
        margin-left: 25%;
      }
    }

    .navbar-brand {
      padding: 15px 30px;
      height: auto;

      @media (max-width: $screen-sm-max) {
        padding: 15px 5px 15px 20px;
      }
      @media (max-width: $screen-xs-max) {
        width: 150px;
        padding: 10px;
      }
      @media (max-width: $screen-xss-max) {
        width: 150px;
        padding: 5px;
      }

      img {
        width: 100%;
      }
    }
  }
  .navbar-nav,
  .nav-profile
  {
    padding-left: 0;
    list-style: none;

    @media (max-width: $screen-xs-max) {
      margin: 0 -15px;
      @include font($font-family-kreon, 1.17em, 1.571428571428571, 700);
      text-transform: uppercase;
    }
    li {

      @media (max-width: $screen-xs-max) {
        &.profile-tab {
          display: none;
        }
      }

      a {
        color: $color-grey;
        background-color: $color-blue-navy;

        @media (max-width: $screen-xs-max) {
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
        }

        &.active,
        &:focus,
        &:hover
        {
          color: $color-white;
          background-color: $color-grey;
        }
      }

      button
      {
        @media (max-width: $screen-xs-max) {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
          margin: 0;
          display: block;
          border-radius: 0;
          color: $color-grey;
          background-color: $color-blue-navy;

          &:after
          {
            position: absolute;
            content: '';
            top: 0; bottom: 0;
            left: 0; right: 0;
            background: transparent;
            z-index: -1;
            border-radius: 0;
          }
        }

      }
    }
  }
  @media (min-width: $screen-tablet)
  {
    .navbar-nav
    {
      width: 60%;
      @include font($font-family-kreon, 1.17em, 1.571428571428571, 700);
      text-transform: uppercase;

      @media (max-width: $screen-md-max) {
        width: 55%;
      }
      @media (max-width: $screen-sm-max) {
        width: 45%;
      }

      > li {

        border-right: 1px $color-true-black solid;
        width: 25%;
        &:first-child
        {
          border-left: 1px $color-true-black solid;
        }

        > a {
          min-height: 80px;
          line-height: 50px;
          color: $color-grey;
          background-color: $color-blue-navy;
          &.active,
          &:focus,
          &:hover
          {
            color: $color-white;
            background-color: $color-grey;
          }

          @media (max-width: $screen-sm-max) {
            padding-left: 0;
            padding-right: 0;
          }

        }
      }
    }
    .nav-profile
    {
      list-style: none;
      width: 25%;
      margin-bottom: 0;
      float: left;
      padding: 8px 0;

      @media (max-width: $screen-md-max) {
        width: 30%;
      }

      @media (max-width: $screen-sm-max) {
        width: 35%;
      }

      li {
        width: 58%;
        display: inline-block;

        &.profile-tab
        {
          position: relative;

          .user-profile
          {
            position: relative;
            top: -4px;
            border-right: 1px $color-white solid;

            .circle-profile
            {
              display: inline-block;
              top: 0;
              margin-left: 15px;
              @media (max-width: $screen-sm-max) {
                margin-left: 10px;
              }
            }
            .circle-profile-text
            {
              display: inline-block;
              position: relative;
              top: 9px;
              margin-left: 10px;
            }
          }
        }

        &.logout-tab
        {
          width: 40%;
          .user-data
          {
            position: relative;
            top: 4px;

            a.edit-profile {
              display: block;
              background: transparent;
              color: $color-cyan;
              @include font-size(0.83em, 1.25);

              &:focus,
              &:hover{
                color: $color-teal;
                text-decoration: underline;
              }
            }
            button {
              @include font($font-family-kreon, 1.17em, 1.571428571428571, 700);
              color: $color-grey;
              text-transform: uppercase;
              display: block;
              &:focus,
              &:hover
              {
                color: $color-grey;
              }
            }
          }
        }
      }
    }
  }
}