<nav class="navbar navbar-fixed-top inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand pull-left" ui-sref="dashboard">
                    <img src="images/ssl-logo-leftaligned.svg" alt="logo" class="pull-left">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a class="text-center text-uppercase" href="#">Students</a></li>
                    <li ui-sref-active="active"><a class="text-center text-uppercase" ui-sref="dashboard.program">Programs</a></li>
                    <li ui-sref-active="active"><a class="text-center text-uppercase" href="#">Reports</a></li>
                    <li ui-sref-active="active"><a class="text-center text-uppercase" ui-sref="dashboard.manage">Manage</a></li>
                </ul>
                <ul class="nav-profile">
                    <li class="profile-tab">
                        <div class="user-profile">
                            <div class="circle-profile">
                                <img gravatar-src="vm.email" gravatar-size="50">
                            </div>
                            <div class="circle-profile-text">Logged in as <br/><strong>{{vm.full_name}}</strong></div>
                        </div>
                    </li>
                    <li class="logout-tab text-center">
                        <div class="user-data">
                            <a ui-sref="dashboard.user_edit" class="edit-profile">Edit Profile</a>
                            <button class="text-uppercase btn inverse" ng-click="vm.logout()">Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="main-section">
    <main class="main">
        <ui-view></ui-view>
    </main>
</section>

<footer class="inverse">
    <div class="container-fluid">
        <div class="footer-container">
            <div class="col-sm-7">
                <div class="row">
                    <div class="footer-widget footer-widget-1">
                        <p>All student data in this system is protected by FERPA and your use of data is subject to your organization's data-sharing agreement with the school district. You may only use student information in this system in ways that are consistent with your program's agreement and in line with the parent consent you have received. Failure to use student data properly will result in revocation of access to data. In the event of a suspected data breach, immediately email <a href="">help@studentsuccesslink.org</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="footer-widget footer-widget-2">
                        <ul>
                            <li><a href="">About Student</a></li>
                            <li><a href="">Success Link</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                        <div class="copyright">&copy;2016 PSESD</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="footer-widget footer-widget-3">
                        <a href="" class="btn inverse">HELP</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>