<div class="forgot-page">
    <div class="page-wrapper">
        <header class="text-center">
            <img src="../images/logo.png" alt="Logo">
            <h1>Student <strong>Success</strong> Link</h1>
            <p><strong>Welcome back Tony!</strong></p>
            <p><small>Sign in to your Student Success Link account:</small></p>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12 form-bg">
                    <a ui-sref="login"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    <form class="text-center">
                        <p>Enter the email associated with your Student Success Link Profile:</p>
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <button type="submit"><span class="text-uppercase">Submit</span></button>
                    </form>
                </div>
                <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="announcement text-center">Never share your password with anyone. <span class="q-mark" data-toggle="tooltip" data-placement="right">?</span></p>
                </div>
            </div>
        </div>
        <footer class="text-center">
            <div class="container">
                <ul>
                    <li><a href="">About PSESD</a></li>
                    <li><a href="">About Student Success Link</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>