<div class="bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
                <div class="alert alert-info text-left message" ng-show="vm.message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Incorrect email or password.</strong> Try entering your information again.
                </div>
            </div>
        </div>
    </div>
    <header>
        <img src="images/logo.png" alt="Logo">
        <h1>Student <strong>Success</strong> Link</h1>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                <h3>Sign in to your Student Success Link account:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12 form-bg">
                <a ui-sref="login"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                <form class="text-center">
                    <p>Enter the email associated with your Student Success Link Profile:</p>
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address">
                    </div>
                    <button type="submit"><span class="text-uppercase">Submit</span></button>
                </form>
            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                <p class="announcement text-center">Never share your password with anyone. <button popover-placement="right" popover-trigger="'mouseenter'" uib-popover-template="vm.help.templateUrl">?</button></p>
            </div>
        </div>
    </section>
    <footer class="container inverse">
        <ul>
            <li><a href="">About PSESD</a></li>
            <li><a href="">About Student Success Link</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </footer>
</div>