<div class="bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8">
                <div class="alert alert-info text-left message" ng-show="vm.message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Incorrect email or password.</strong> Try entering your information again.
                </div>
            </div>
        </div>
    </div>
    <header>
        <img src="images/logo.png" alt="Logo">
        <h1>Student <strong>Success</strong> Link</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                <h3>Sign in to your Student Success Link account:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12 form-bg">
                <form class="text-center" ng-click="vm.auth()">
                    <div class="form-group">
                        <label for="email"></label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="vm.user.email">
                    </div>
                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.user.password">
                    </div>
                    <button type="submit"><span class="text-uppercase">Sign In</span></button>
                    <div class="form-group checkbox">
                        <div class="checkbox" ng-model="vm.user.remember">
                            <label>
                            <input type="checkbox">
                            Keep me signed in
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <a ui-sref="forgot"><span class="text-uppercase"><strong>Forgot your password?</strong></span></a>
                    </div>
                </form>
            </div>
            <div class="col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                <p class="announcement text-center">Never share your password with anyone. <span class="q-mark" data-toggle="tooltip" data-placement="right">?</span></p>
            </div>
        </div>
    </div>
    <footer class="container inverse">
        <ul>
            <li><a href="">About PSESD</a></li>
            <li><a href="">About Student Success Link</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </footer>
</div>