<div class="message-outer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-info text-left message" ng-show=vm.message>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <p><strong>{{"views.notification.incorrect_email" | translate}}</strong>. {{"views.notification.try_again" | translate}}</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="page-wrapper">
  <div class="login-wrapper">

    <header>
      <div class="header-logo">
        <img src="images/logo-white.svg" alt="Logo">
      </div>
    </header>

    <section class="login-container">
      <form class="login-form" ng-submit="vm.auth(vm.user)">
        <div class="blur-bg"></div>
        <div class="login-welcome-content text-center">
          <h3 class="greating-message" ng-show="vm.login_greetings">{{"views.welcome_back" | translate}} {{vm.login_greetings}}!</h3>
          <h3 class="signin-message normal">{{"views.login.header" | translate}}</h3>
        </div>
        <div class="content-form text-center">
          <div class="form-group">
            <label for="email"></label>
            <input type="email" class="form-control inverse" id="email" placeholder="Email Address" ng-model="vm.user.email" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control inverse" id="password" placeholder="Password" ng-model="vm.user.password" autocomplete="off">
          </div>
          <div class="form-actions">
            <button type="submit" class="hvr-fade btn btn-login btn-full">
              <span ng-hide="vm.show_login_loading">{{"views.login.sign_in" | translate}}</span>
              <span ng-show="vm.show_login_loading"><span class="glyphicon glyphicon-refresh loading" aria-hidden="true"></span> {{"views.loading" | translate}}</span>
            </button>
          </div>
          <div class="form-group login-checkbox">
            <div class="checkbox">
              <label class="remember normal" for="remember_me">
                <input type="checkbox" id="remember_me" ng-model="vm.user.remember">
                <span class="tick"><i class="glyphicon glyphicon-ok"></i></span>
                {{"views.login.remember_username" | translate}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <a class="bold capitalize" ui-sref="forgot">{{"views.login.forgot_password" | translate}}</a>
          </div>
        </div>
        <p class="announcement text-center">{{"views.login.announcement" | translate}} <span class="circle-white hidden-xs" popover-placement="top" popover-trigger="'mouseenter'" uib-popover-template="vm.help.templateUrl">?</span></p>
      </form>
    </section>
  </div>
</div>

<footer>
  <ul class="text-center">
    <li><a target="_blank" href="https://www.psesd.org" class="bold">{{"views.login.about_psesd" | translate}}</a></li>
    <li><a target="_blank" href="http://studentsuccesslink.org/" class="bold">{{"views.about_student_success_link" | translate}}</a></li>
    <li><a target="_blank" href="https://www.psesd.org/student-success-link-privacy-policy/" class="bold">{{"views.privacy_policy" | translate}}</a></li>
  </ul>
</footer>
