<div class="container-fluid user_edit_permission">
    <div class="row">

        <header class="header-background clearfix inverse">
            <div class="container">
                <div class="pull-left">
                    <h1 class="page-title">{{"views.programs.add_program" | translate}}</h1>
                </div>
            </div>
        </header>

        <section class="main-content container">
          <div class="">
              <div class="row">
                  <div class="alert alert-info text-left message" ng-show=vm.message>
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                  </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-6">
              <form class="">

                  <div class="form-group">
                      <label for="email" class="control-label">{{"views.name" | translate}}:</label>
                      <div class="">
                          <input type="text" class="form-control" id="email" ng-model="vm.program.name">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="">
                          <button ng-click="vm.submit(vm.program)">{{"views.submit" | translate}}</button>
                          <button ui-sref="dashboard.program">{{"views.back" | translate}}</button>
                      </div>
                  </div>

              </form>
          </div>
        </section>

    </div>
</div>
