<div ng-hide="vm.show_program" id="loading">
  <span class="glyphicon glyphicon-refresh loading" aria-hidden="true"></span> <h3 class="loading-title display-inline">{{"views.loading" | translate}}</h3>
</div>

<div ng-show="vm.show_program" class="container-fluid" ng-class="currentURL">
    <div class="row">
        <header class="header-background clearfix inverse">
            <div class="container">
                <div class="pull-left">
                    <h1 class="page-title">
                        {{"views.programs" | translate}} <div class="divider-vertical"></div> {{vm.organization_name}}
                    </h1>
                </div>
                <div class="pull-right">
                    <button class="btn btn-reverse invite-user" ui-sref="dashboard.program_add">{{"views.programs.add_program" | translate}}</button>
                </div>
            </div>
        </header>
        <section class="main-content container">

            <div class="data-filters clearfix">
                <form class="form-inline form-search">
                    <div class="form-group">
                        <input type="text" id="search" class="form-control" ng-model="search" placeholder="Search Programs">
                    </div>
                    <div class="form-group">
                        <p class="form-control-static form-search-icon"><span class="glyphicon glyphicon-search"></span></p>
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table id="program" class="table">
                    <thead fsm-sticky-header scroll-body="#program" scroll-stop="80">
                        <tr>
                            <th style="width: 25%;">
                                <a href="" ng-click="sortType = 'name';sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                            </th>
                            <th style="width: 5%;" class="text-center">
                                <a href="" ng-click="sortType = 'totalActive';sortReverse = !sortReverse">
                            Total Active
                            <span ng-show="sortType == 'totalActive' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'totalActive' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                            </th>
                            <th style="width: 5%;" class="text-center">
                                <a href="" ng-click="sortType = 'totalStudent';sortReverse = !sortReverse">
                            Total Students
                            <span ng-show="sortType == 'totalStudent' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'totalStudent' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="sortType = 'cohorts';sortReverse = !sortReverse">
                            Cohorts
                            <span ng-show="sortType == 'cohorts' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                            <span ng-show="sortType == 'cohorts' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        </a>
                            </th>
                            <th style="width: 5%;" class="table-space text-center">{{"views.programs.assign_students" | translate}}</th>
                            <th style="width: 5%;" class="text-center">{{"views.edit" | translate}}</th>
                            <th style="width: 5%;" class="text-center">{{"views.delete" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="program in vm.programs |filter:search|orderBy:sortType:sortReverse">
                            <td>
                                <a ui-sref="dashboard.program_student({id:program._id})">
                            {{program.name}}
                        </a>
                            </td>
                            <td class="text-center">
                                {{program.totalActive}}
                            </td>
                            <td class="text-center">
                                {{program.totalStudent}}
                            </td>
                            <td ng-bind-html="program.cohorts"></td>
                            <td class="table-space text-center">
                                <a class="glyphicon glyphicon-user" ui-sref="dashboard.program_student_add({id:program._id})"></a>
                            </td>
                            <td class="text-center">
                                <a class="glyphicon glyphicon-pencil" ui-sref="dashboard.program_edit({id:program._id})"></a>
                            </td>
                            <td class="text-center">
                                <a class="glyphicon glyphicon-trash" ng-click="vm.deleteProgram(program._id,$index)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
