<div class="container-fluid" ng-class="currentURL">
    <div class="row">

        <header class="header-background clearfix inverse">
            <div class="container">
                <div class="pull-left">
                   <h1 class="page-title">Reports</h1>
                </div>
            </div>
        </header>

      <section class="main-content container">

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="alert alert-info text-left message" ng-show=vm.message>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h2 class="text-center text-uppercase">Filter</h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 text-center filter-container">
            <multiselect class="filter-select" change="vm.changePrograms()" enable-filter="true" header="Programs" ng-model="vm.selected_programs" options="c.name for c in vm.programs" data-multiple="true"></multiselect>
            <multiselect class="filter-select" enable-filter="true" header="Districts" ng-model="vm.selected_districts" options="c.name for c in vm.districts" data-multiple="true"></multiselect>
            <multiselect class="filter-select" enable-filter="true" header="Cohorts" ng-model="vm.selected_cohorts" options="c.name for c in vm.cohorts" data-multiple="true"></multiselect>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 text-center">
            <h2>{{vm.report.total_student}}</h2>
            <h3>Student</h3>
        </div>
        <div class="col-md-4 text-center">
            <h2>{{vm.report.total_district}}</h2>
            <h3>District</h3>
        </div>
        <div class="col-md-4 text-center">
            <h2>{{vm.report.total_school}}</h2>
            <h3>School</h3>
        </div>

      </section>
    </div>
</div>
