<div class="container-fluid user_edit_permission">
    <div class="row">

        <div class="col-xs-12 inverse header-background">
            <h1 class="page-title">
                {{vm.student.personal.first_name}} {{vm.student.personal.last_name}}
                <div class="divider-vertical hidden-xs"></div>
                <div class="header-title-student-detail">
                    <div class="student-detail-edit"><a href="#" class="uppercase bold">Edit <span class="glyphicon glyphicon-edit"></span></a></div>
                    <div><a href="#" class="uppercase">CHECK FOR UPDATES <span class="glyphicon glyphicon-refresh"></span></a></div>
                    <div>Last Updates: 11/25/2015</div>
                </div>

                <div class="pull-right">
                    <a class="btn btn-reverse" ui-sref="dashboard.user">View All Student</a>
                    <a class="btn btn-reverse btn-circle"><span class="glyphicon glyphicon-menu-left"></span></a>
                    <a class="btn btn-reverse btn-circle"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>

            </h1>
        </div>

        <div class="clearfix space20"></div>

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="alert alert-info text-left message" ng-show=vm.message>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <fieldset>
                <legend>Personal Information</legend>
                <dl>
                    <dt>District ID</dt>
                    <dd>{{vm.student.local_id}}</dd>
                    <dt>Birthday</dt>
                    <dd>{{vm.student.personal.xsre.demographics.birth_date}}</dd>
                    <dt>Race/Ethnicity</dt>
                    <dd>{{vm.student.personal.xsre.demographics.races}}</dd>
                    <dt>Gender</dt>
                    <dd>{{vm.student.personal.xsre.demographics.sex}}</dd>
                    <dt>College Bound</dt>
                    <dd>{{vm.student.personal.college_bound}}</dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>Personal Contact</legend>
                <dl>
                    <dt>Phone</dt>
                    <dd>{{vm.student.personal.phone}}</dd>
                    <dt>Email</dt>
                    <dd>{{vm.student.personal.email}}</dd>
                    <dt>Address</dt>
                    <dd>{{vm.student.personal.address}}</dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Emergency Contacts</legend>
                <dl>
                    <dt>Name</dt>
                    <dd>{{vm.student.personal.emergency1.name}}</dd>
                    <dt>Relationship</dt>
                    <dd>{{vm.student.personal.emergency1.relationship}}</dd>
                    <dt>Email</dt>
                    <dd>{{vm.student.personal.emergency1.email}}</dd>
                    <dt>Phone</dt>
                    <dd>{{vm.student.personal.emergency1.phone}}</dd>
                </dl>
                <dl>
                    <dt>Name</dt>
                    <dd>{{vm.student.personal.emergency2.name}}</dd>
                    <dt>Relationship</dt>
                    <dd>{{vm.student.personal.emergency2.relationship}}</dd>
                    <dt>Email</dt>
                    <dd>{{vm.student.personal.emergency2.email}}</dd>
                    <dt>Phone</dt>
                    <dd>{{vm.student.personal.emergency2.phone}}</dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Assigned Users</legend>
                <dl ng-repeat="person in vm.student.embedded.users">
                    <dt></dt>
                    <dd>{{person.fullname}}</dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>School Information</legend>
                <dl>
                    <dt>Current School</dt>
                    <dd>{{vm.student.personal.xsre.enrollment.school_name}}</dd>
                    <dt>Expected Graduation Year</dt>
                    <dd>{{vm.student.personal.xsre.enrollment.projected_graduation_year}}</dd>
                    <dt>Grade Level</dt>
                    <dd>{{vm.student.personal.xsre.enrollment.grade_level}}</dd>
                </dl>
                <dl>
                    <dt>IEP</dt>
                    <dd>{{vm.student.personal.idea_indicator}}</dd>
                    <dt>s504</dt>
                    <dd>{{vm.student.personal.section_504_status}}</dd>
                    <dt>Free or Reduced Lunch</dt>
                    <dd>{{vm.student.personal.eligibility_status}}</dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Current Class Schedule {{}}</legend>
                <span ng-repeat ="course in vm.student.transcript.source.transcript_term.courses | orderBy:'timeTablePeriod'">
                    <span class="label label-success" ng-show="course.timeTablePeriod">{{course.timeTablePeriod}}</span><span>{{course.courseTitle}}</span>
                </span>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="javascript:void(0)" data-target="#attendance_behavior" data-toggle="tab" role="tab" aria-controls="attendance_home">Attendance & Behavior</a></li>
                <li role="presentation" ><a href="javascript:void(0)" data-target="#transcript" data-toggle="tab" role="tab" aria-controls="attendance_home">Transcript</a></li>
                <li role="presentation" ><a href="javascript:void(0)" data-target="#program_participation" data-toggle="tab" role="tab" aria-controls="attendance_home">Program Participation</a></li>
                <li role="presentation" ><a href="javascript:void(0)" data-target="#assessment" data-toggle="tab" role="tab" aria-controls="attendance_home">Assessment</a></li>
                <li role="presentation" ><a href="javascript:void(0)" data-target="#graph" data-toggle="tab" role="tab" aria-controls="attendance_home"><span class="glyphicon glyphicon-stats"></span></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="attendance_behavior">
                    <div style="display: flex;height: 80px;align-items: center">
                        <div style="flex-grow: 1;text-align: center;width: 30%;">Attendance Dates</div>
                        <div style="flex-grow: 2;text-align: center;display: flex;width: 40%;">
                            <div style="flex-grow: 1">M</div>
                            <div style="flex-grow: 1">T</div>
                            <div style="flex-grow: 1">W</div>
                            <div style="flex-grow: 1">TH</div>
                            <div style="flex-grow: 1">F</div>
                            <div style="flex-grow: 1">SA</div>
                            <div style="flex-grow: 1">S</div>
                        </div>
                        <div style="flex-grow: 1;text-align: center;width: 30%;">Weekly Change</div>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#first" style="padding:0;display: flex;height: 50px;align-items: center">
                                <div style="flex-grow: 1;text-align: center;width: 30%;">11/23/2015 - 11/29/2015</div>
                                <div style="flex-grow: 2;text-align: center;display: flex;width: 40%;">
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                    <div style="flex-grow: 1">50%</div>
                                </div>
                                <div style="flex-grow: 1;text-align: center;width: 30%;">50%</div>
                            </div>
                            <div id="first" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" >
                                <div class="panel-body" style="display: flex; padding: 0">
                                    <div style="flex-grow: 1;text-align: center;width: 30%;">
                                        <div class="text-uppercase detail-item">Period 1</div>
                                        <div class="text-uppercase detail-item">Period 2</div>
                                        <div class="text-uppercase detail-item">Period 3</div>
                                        <div class="text-uppercase detail-item">Period 4</div>
                                        <div class="text-uppercase detail-item">Period 5</div>
                                        <div class="text-uppercase detail-item">Period 6</div>
                                    </div>
                                    <div style="flex-grow: 2;text-align: center;display: flex;width: 40%;">
                                        <div style="flex-grow: 1;display: flex;flex-direction: column">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                        <div style="flex-grow: 1">
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                            <div class="detail-item">Test</div>
                                        </div>
                                    </div>
                                    <div style="flex-grow: 1;text-align: center;width: 30%;">50%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="transcript">
                    Transcript
                </div>
                <div role="tabpanel" class="tab-pane" id="program_participation">
                    program participation
                </div>
                <div role="tabpanel" class="tab-pane" id="assessment">
                    assessment
                </div>
                <div role="tabpanel" class="tab-pane" id="graph">
                    graph
                </div>
            </div>

        </div>
    </div>
</div>