<div class="container-fluid user_edit_permission">
    <div class="row">

        <div class="col-xs-12 inverse header-background">
            <h1 class="page-title"></h1>
        </div>

        <div class="clearfix space20"></div>

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="alert alert-info text-left message" ng-show=vm.message>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-2">
            <fieldset>
                <legend>Personal Information</legend>
                <dl>
                    <dt>District ID</dt>
                    <dd></dd>
                    <dt>Birthday</dt>
                    <dd></dd>
                    <dt>Race/Ethnicity</dt>
                    <dd></dd>
                    <dt>Gender</dt>
                    <dd></dd>
                    <dt>College Bound</dt>
                    <dd></dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>Personal Contact</legend>
                <dl>
                    <dt>Phone</dt>
                    <dd></dd>
                    <dt>Email</dt>
                    <dd></dd>
                    <dt>Address</dt>
                    <dd></dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Emergency Contacts</legend>
                <dl>
                    <dt>Name</dt>
                    <dd></dd>
                    <dt>Relationship</dt>
                    <dd></dd>
                    <dt>Email</dt>
                    <dd></dd>
                    <dt>Phone</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>Name</dt>
                    <dd></dd>
                    <dt>Relationship</dt>
                    <dd></dd>
                    <dt>Email</dt>
                    <dd></dd>
                    <dt>Phone</dt>
                    <dd></dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Assigned Users</legend>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>School Information</legend>
                <dl>
                    <dt>Current School</dt>
                    <dd></dd>
                    <dt>Expected Graduation Year</dt>
                    <dd></dd>
                    <dt>Grade Level</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>IEP</dt>
                    <dd></dd>
                    <dt>s504</dt>
                    <dd></dd>
                    <dt>Free or Reduced Lunch</dt>
                    <dd></dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                <legend>Current Class Schedule</legend>
            </fieldset>
        </div>
    </div>
</div>