<div class="container-fluid user_edit_permission">
    <div class="row">
        <header class="header-background clearfix inverse">
            <div class="container">
                <div class="pull-left">
                    <h1 class="page-title">Add Student</h1>
                </div>
            </div>
        </header>
        <section class="main-content container">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="alert alert-info text-left message" ng-show=vm.message>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <form>
                    <fieldset>
                        <legend>
                            <h3>Student Contact Information</h3>
                        </legend>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">First Name:</label>
                                <div class="">
                                    <input type="text" class="form-control" id="first_name" ng-model="vm.student.first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Last Name:</label>
                                <div class="">
                                    <input type="text" class="form-control" id="last_name" ng-model="vm.student.last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="school_district">District Name:</label>
                                <div class="selectwrap">
                                    <select id="school_district" class="form-control" name="school_district" ng-model="vm.student.school_district">
                                        <option ng-repeat="option in vm.list_of_school_district" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">District Student ID:</label>
                                <div class="">
                                    <input type="text" class="form-control" id="district" ng-model="vm.student.district_student_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">College Bound:</label>
                                <div class="radio">
                                    <label>
                                        <input ng-model="vm.student.college_bound" type="radio" name="radio" id="radio1" value="Yes" ><span class="tick"></span> Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input ng-model="vm.student.college_bound" type="radio" name="radio" id="radio2"  value="No" checked>
                                        <span class="tick"></span> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Phone:</label>
                                <div class="">
                                    <input class="form-control" type="text" ng-model="vm.student.phone" ui-mask="+9 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.email" id="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="address">Address:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.address" id="address">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            <h3>Emergency Contact Information</h3>
                        </legend>
                        <div class="col-sm-6">
                            <h5>Contact 1</h5>
                            <div class="form-group">
                                <label class="control-label" for="name">Name:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.emergency1_name" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="school_district">Relationship:</label>
                                <div class="selectwrap">
                                    <select class="add-select-student form-control" name="repeatSelect" ng-model="vm.student.emergency1_relationship">
                                        <option ng-repeat="option in vm.list_of_relationships" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email">Email:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.emergency1_email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Phone:</label>
                                <div class="">
                                    <input class="form-control" type="text" ng-model="vm.student.emergency1_phone" ui-mask="+9 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h5>Contact 2</h5>
                            <div class="form-group">
                                <label class="control-label" for="name_emergency1">Name:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.emergency2_name" id="name_emergency1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="school_district">Relationship:</label>
                                <div class="selectwrap">
                                    <select class="add-select-student form-control" name="repeatSelect" ng-model="vm.student.emergency2_relationship">
                                        <option ng-repeat="option in vm.list_of_relationships" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email_emergency2">Email:</label>
                                <div class="">
                                    <input type="text" class="form-control" ng-model="vm.student.emergency2_email" id="email_emergency2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">phone:</label>
                                <div class="">
                                    <input class="form-control" type="text" ng-model="vm.student.emergency2_phone" ui-mask="+9 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="">
                            <button ng-click="vm.submit(vm.student)">Submit</button>
                            <button ui-sref="dashboard.student">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
