<div class="container">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        <div class="row">
            <h5 class="text-center">Student Success Link</h5>
            <h1 class="text-center">Web Style Guide</h1>
            <hr/>
            <h5 class="text-center">Version 1.0.0</h5>
        </div>
    </div>
    <div class="clearfix"></div>
    <h2>Contents</h2>
    <ol>
        <li>Color System</li>
        <li>Typography</li>
        <li>Buttons, & Text Links</li>
        <li>Form Elements</li>
        <li>Table</li>
    </ol>

    <div>
        <h2>1. Color System</h2>
        <div class="color-system-container">
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-black item">
                        <div class="text-center">Black #1d272c</div>
                    </div>
                    <div class="bg-black-900 item">
                        <div class="text-center">Black 900 #1d272c</div>
                    </div>
                    <div class="bg-black-800 item">
                        <div class="text-center">Black 800 #1d272c</div>
                    </div>
                    <div class="bg-black-700 item">
                        <div class="text-center">Black 700 #1d272c</div>
                    </div>
                    <div class="bg-black-600 item">
                        <div class="text-center">Black 600 #1d272c</div>
                    </div>
                    <div class="bg-black-500 item">
                        <div class="text-center">Black 500 #1d272c</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-blue-navy item">
                        <div class="text-center">Light Black #28353b</div>
                    </div>
                    <div class="bg-blue-navy-900 item">
                        <div class="text-center">Light Black 900 #28353b</div>
                    </div>
                    <div class="bg-blue-navy-800 item">
                        <div class="text-center">Light Black 800 #28353b</div>
                    </div>
                    <div class="bg-blue-navy-700 item">
                        <div class="text-center">Light Black 700 #28353b</div>
                    </div>
                    <div class="bg-blue-navy-600 item">
                        <div class="text-center">Light Black 600 #28353b</div>
                    </div>
                    <div class="bg-blue-navy-500 item">
                        <div class="text-center">Light Black 500 #28353b</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-grey item">
                        <div class="text-center">Grey #aab3b8</div>
                    </div>
                    <div class="bg-grey-900 item">
                        <div class="text-center">Grey 900 #aab3b8</div>
                    </div>
                    <div class="bg-grey-800 item">
                        <div class="text-center">Grey 800 #aab3b8</div>
                    </div>
                    <div class="bg-grey-700 item">
                        <div class="text-center">Grey 700 #aab3b8</div>
                    </div>
                    <div class="bg-grey-600 item">
                        <div class="text-center">Grey 600 #aab3b8</div>
                    </div>
                    <div class="bg-grey-500 item">
                        <div class="text-center">Grey 500 #aab3b8</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-purple item">
                        <div class="text-center">Purple #8749ad</div>
                    </div>
                    <div class="bg-purple-900 item">
                        <div class="text-center">Purple 900 #8749ad</div>
                    </div>
                    <div class="bg-purple-800 item">
                        <div class="text-center">Purple 800 #8749ad</div>
                    </div>
                    <div class="bg-purple-700 item">
                        <div class="text-center">Purple 700 #8749ad</div>
                    </div>
                    <div class="bg-purple-600 item">
                        <div class="text-center">Purple 600 #8749ad</div>
                    </div>
                    <div class="bg-purple-500 item">
                        <div class="text-center">Purple 500 #8749ad</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-cyan item">
                        <div class="text-center">Cyan #74d5d6</div>
                    </div>
                    <div class="bg-cyan-900 item">
                        <div class="text-center">Cyan 900 #74d5d6</div>
                    </div>
                    <div class="bg-cyan-800 item">
                        <div class="text-center">Cyan 800 #74d5d6</div>
                    </div>
                    <div class="bg-cyan-700 item">
                        <div class="text-center">Cyan 700 #74d5d6</div>
                    </div>
                    <div class="bg-cyan-600 item">
                        <div class="text-center">Cyan 600 #74d5d6</div>
                    </div>
                    <div class="bg-cyan-500 item">
                        <div class="text-center">Cyan 500 #74d5d6</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-teal item">
                        <div class="text-center">Teal #4eb8b9</div>
                    </div>
                    <div class="bg-teal-900 item">
                        <div class="text-center">Teal 900 #4eb8b9</div>
                    </div>
                    <div class="bg-teal-800 item">
                        <div class="text-center">Teal 800 #4eb8b9</div>
                    </div>
                    <div class="bg-teal-700 item">
                        <div class="text-center">Teal 700 #4eb8b9</div>
                    </div>
                    <div class="bg-teal-600 item">
                        <div class="text-center">Teal 600 #4eb8b9</div>
                    </div>
                    <div class="bg-teal-500 item">
                        <div class="text-center">Teal 500 #4eb8b9</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-orange item">
                        <div class="text-center">Orange #ffae29</div>
                    </div>
                    <div class="bg-orange-900 item">
                        <div class="text-center">Orange 900 #ffae29</div>
                    </div>
                    <div class="bg-orange-800 item">
                        <div class="text-center">Orange 800 #ffae29</div>
                    </div>
                    <div class="bg-orange-700 item">
                        <div class="text-center">Orange 700 #ffae29</div>
                    </div>
                    <div class="bg-orange-600 item">
                        <div class="text-center">Orange 600 #ffae29</div>
                    </div>
                    <div class="bg-orange-500 item">
                        <div class="text-center">Orange 500 #ffae29</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-pink item">
                        <div class="text-center">Pink #f84283</div>
                    </div>
                    <div class="bg-pink-900 item">
                        <div class="text-center">Pink 900 #f84283</div>
                    </div>
                    <div class="bg-pink-800 item">
                        <div class="text-center">Pink 800 #f84283</div>
                    </div>
                    <div class="bg-pink-700 item">
                        <div class="text-center">Pink 700 #f84283</div>
                    </div>
                    <div class="bg-pink-600 item">
                        <div class="text-center">Pink 600 #f84283</div>
                    </div>
                    <div class="bg-pink-500 item">
                        <div class="text-center">Pink 500 #f84283</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-dark-grey item">
                        <div class="text-center">Dark Grey #5b666c</div>
                    </div>
                    <div class="bg-dark-grey-900 item">
                        <div class="text-center">Dark Grey 900 #5b666c</div>
                    </div>
                    <div class="bg-dark-grey-800 item">
                        <div class="text-center">Dark Grey 800 #5b666c</div>
                    </div>
                    <div class="bg-dark-grey-700 item">
                        <div class="text-center">Dark Grey 700 #5b666c</div>
                    </div>
                    <div class="bg-dark-grey-600 item">
                        <div class="text-center">Dark Grey 600 #5b666c</div>
                    </div>
                    <div class="bg-dark-grey-500 item">
                        <div class="text-center">Dark Grey 500 #5b666c</div>
                    </div>
                </div>
            </div>
            <div class="color-system-item col-sm-3 col-xs-6">
                <div class="row">
                    <div class="bg-white">
                        <div class="text-center">White #ffff</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div>
        <h2>2. Typography</h2>
        <div class="col-md-12 col-sm-12">
            <h1>H1."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h1>
            <h2>H2."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h2>
            <h3>H3."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
            <h4>H4."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h4>
            <h5>H5."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h5>
            <h6>H6."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h6>
            <p><b>Nullam quis risus eget urna</b> <i>mollis ornare vel eu leo.</i> <b><i>Cum sociis natoque penatibus et magnis dis parturient montes</i></b>, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div>
        <h2>3. Buttons, & Text Links</h2>
        <div class="col-xs-12">
            <div class="row">
                <h3>Button</h3>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button>Button</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn">.btn</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn inverse">.btn .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-default">.btn .btn-default</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center bg-pink">
                                <button class="btn btn-default inverse">.btn .btn-default .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-black">.btn .btn-black</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-blue-navy">.btn .btn-blue-navy</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-grey">.btn .btn-grey</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-purple">.btn .btn-purple</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-cyan">.btn .btn-cyan</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-teal">.btn .btn-teal</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-orange">.btn .btn-orange</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-pink">.btn .btn-pink</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-dark-grey">.btn .btn-dark-grey</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-black inverse">.btn .btn-black .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-blue-navy inverse">.btn .btn-blue-navy .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-grey inverse">.btn .btn-grey .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-purple inverse">.btn .btn-purple .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-cyan inverse">.btn .btn-cyan .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-teal inverse">.btn .btn-teal .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-orange inverse">.btn .btn-orange .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-pink inverse">.btn .btn-pink .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-dark-grey inverse">.btn .btn-dark-grey .inverse</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center bg-pink">
                                <button class="btn btn-login">.btn .btn-login</button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="row text-center">
                                <button class="btn btn-full">.btn .btn-full</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12">
            <h3>Text Links</h3>
            <a href="">Click Here</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <h2>4. Form Elements</h2>
        <div class="col-xs-12">
            <h3>Form</h3>
            <div class="col-xs-12">

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <form class="padding15">
                            <div class="form-group">
                                <label for="text11">Text 1</label>
                                <input type="text" id="text11" placeholder="Text 1">
                            </div>
                            <div class="form-group">
                                <label for="text12">Text 2</label>
                                <textarea id="text12" placeholder="Text 2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="text13">Text 3</label>
                                <select id="text13">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="text14">
                                        <input type="checkbox" id="text14">
                                        Text 3
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label for="text15">
                                        <input type="radio" id="text15">
                                        Text 3
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 bg-pink">
                    <div class="row">
                        <form class="padding15">
                            <div class="form-group">
                                <label for="text21">Text 1</label>
                                <input class="inverse" type="text" id="text21" placeholder="Text 1">
                            </div>
                            <div class="form-group">
                                <label for="text22">Text 2</label>
                                <textarea class="inverse" id="text22" placeholder="Text 2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="text23">Text 3</label>
                                <select class="inverse" id="text23">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="text24">
                                        <input type="checkbox" id="text24">
                                        Text 3
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label for="text25">
                                        <input type="radio" id="text25">
                                        Text 3
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <h2>5. Table</h2>
        <div class="col-xs-12">
            <h3>Simple Table</h3>
            <div class="clearfix padding15"></div>
            <div class="table-responsive">
                <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th class="text-center">
                        Qty
                    </th>
                    <th class="text-right">
                        Amount
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jon</td>
                    <td>Doh</td>
                    <td class="text-center">20</td>
                    <td class="text-right">700</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alice</td>
                    <td>Wonder</td>
                    <td class="text-center">5</td>
                    <td class="text-right">500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mike</td>
                    <td>Site</td>
                    <td class="text-center">20</td>
                    <td class="text-right">1,070</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Joe</td>
                    <td>Becky</td>
                    <td class="text-center">70</td>
                    <td class="text-right">1,500</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kimberly</td>
                    <td>Newton</td>
                    <td class="text-center">7</td>
                    <td class="text-right">1,000</td>
                </tr>
                </tbody>
            </table>
            </div>

            <hr/>

            <h3>Table Striped rows</h3>
            <div class="clearfix padding15"></div>
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th class="text-center">
                        Qty
                    </th>
                    <th class="text-right">
                        Amount
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jon</td>
                    <td>Doh</td>
                    <td class="text-center">20</td>
                    <td class="text-right">700</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alice</td>
                    <td>Wonder</td>
                    <td class="text-center">5</td>
                    <td class="text-right">500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mike</td>
                    <td>Site</td>
                    <td class="text-center">20</td>
                    <td class="text-right">1,070</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Joe</td>
                    <td>Becky</td>
                    <td class="text-center">70</td>
                    <td class="text-right">1,500</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kimberly</td>
                    <td>Newton</td>
                    <td class="text-center">7</td>
                    <td class="text-right">1,000</td>
                </tr>
                </tbody>
            </table>
            </div>

            <hr/>

            <h3>Bordered table</h3>
            <div class="clearfix padding15"></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th class="text-center">
                        Qty
                    </th>
                    <th class="text-right">
                        Amount
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jon</td>
                    <td>Doh</td>
                    <td class="text-center">20</td>
                    <td class="text-right">700</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alice</td>
                    <td>Wonder</td>
                    <td class="text-center">5</td>
                    <td class="text-right">500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mike</td>
                    <td>Site</td>
                    <td class="text-center">20</td>
                    <td class="text-right">1,070</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Joe</td>
                    <td>Becky</td>
                    <td class="text-center">70</td>
                    <td class="text-right">1,500</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kimberly</td>
                    <td>Newton</td>
                    <td class="text-center">7</td>
                    <td class="text-right">1,000</td>
                </tr>
                </tbody>
            </table>
            </div>

            <hr/>

            <h3>Table Hover</h3>
            <div class="clearfix padding15"></div>
            <div class="table-responsive">
                <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th class="text-center">
                        Qty
                    </th>
                    <th class="text-right">
                        Amount
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Jon</td>
                    <td>Doh</td>
                    <td class="text-center">20</td>
                    <td class="text-right">700</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alice</td>
                    <td>Wonder</td>
                    <td class="text-center">5</td>
                    <td class="text-right">500</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mike</td>
                    <td>Site</td>
                    <td class="text-center">20</td>
                    <td class="text-right">1,070</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Joe</td>
                    <td>Becky</td>
                    <td class="text-center">70</td>
                    <td class="text-right">1,500</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Kimberly</td>
                    <td>Newton</td>
                    <td class="text-center">7</td>
                    <td class="text-right">1,000</td>
                </tr>
                </tbody>
            </table>
            </div>

            <hr/>

        </div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-bottom: 50px"></div>
</div>