<div ng-hide="vm.show_user" class="text-center" style="margin-top: 18%">
  <div class="icon-wrapper">
    <span class="glyphicon glyphicon-refresh loading" aria-hidden="true"></span> <h2 class="loading">{{"views.loading"|translate}}</h2>
  </div>
</div>
<div ng-show="vm.show_user" class="container-fluid" ng-class="currentURL">
  <div class="row">

      <header class="header-background clearfix inverse">
        <div class="container">
          <div class="pull-left">
            <h1 class="page-title">{{"views.manage_users"|translate}}<div class="divider-vertical"></div></h1>
          </div>
          <div class="pull-right">
            <button class="btn btn-reverse invite-user" ui-sref="dashboard.user_invite">{{"views.invite_user"|translate}}</button>
          </div>
        </div>
      </header>

      <section class="main-content container">

        <div class="row">
           <div class="alert alert-info text-left message" ng-show=vm.message>
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{vm.message}}
        </div>

        <div class="data-filters clearfix">
          <form class="form-inline form-search">
            <div class="form-group">
             <input type="text" id="search" class="form-control" ng-model="search" placeholder="Search Users">
           </div>
           <div class="form-group">
            <p class="form-control-static form-search-icon"><span class="glyphicon glyphicon-search"></span></p>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table id="user" class="table">
          <thead fsm-sticky-header scroll-body="#user" scroll-stop="80">
            <tr>
              <th style="width: 15%;">
                <a href="" ng-click="sortType = 'full_name';sortReverse = !sortReverse">
                  {{"views.name"|translate}}
                  <span ng-show="sortType == 'full_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'full_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th style="width: 22%;">
                <a href="" ng-click="sortType = 'email';sortReverse = !sortReverse">
                  {{"views.email"|translate}}
                  <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th style="width: 15%;">
                <a href="" ng-click="sortType = 'role';sortReverse = !sortReverse">
                  {{"views.role"|translate}}
                  <span ng-show="sortType == 'role' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'role' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th style="width: 15%;"  class="text-center">
                <a href="" ng-click="sortType = 'activate';sortReverse = !sortReverse">
                  {{"views.active"|translate}}
                  <span ng-show="sortType == 'activate' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'activate' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th style="width: 5%;">
                <a href="" ng-click="sortType = 'studentCount';sortReverse = !sortReverse">
                  {{"views.assigned_students"|translate}}
                  <span ng-show="sortType == 'studentCount' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                  <span ng-show="sortType == 'studentCount' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                </a>
              </th>
              <th style="width: 5%;" class="table-space text-center">Permissions</th>
              <th style="width: 5%;" class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in vm.users |filter:search|orderBy:'full_name'|orderBy:sortType:sortReverse">
              <td>
                <a ui-sref="dashboard.user_view({id:user._id})">
                  {{user.full_name}}
                </a>
              </td>
              <td>
                <a href="mailto:{{user.email}}">
                  {{user.email}}
                </a>
              </td>
              <td>{{user.role}}</td>
              <td class="text-center">
                {{user.activate ? 'Active' : 'Pending'}}
                <span ng-if="!user.activate">
                  <a class="reinvite" href="" ng-click="vm.reInvite(user)">{{"views.reinvite"|translate}}</a>
                </span>
              </td>
              <td class="text-center">{{user.studentCount}}</td>
              <td class="table-space text-center">
                <a ui-sref="dashboard.user_edit_permission({id:user._id})" class="glyphicon-relative glyphicon glyphicon-lock"></a>
              </td>
              <td class="text-center">
                <a class="glyphicon-relative glyphicon glyphicon-trash" ng-click="vm.deleteUser(user._id,$index)" confirm-settings="{size: 'sm'}"></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>
  </div>
</div>
