<div class="container-fluid" ng-class="currentURL">
    <div class="row">

        <div class="col-xs-12 inverse header-background">
            <h1 class="page-title">
                User Group <div class="divider-vertical visible-lg visible-md visible-sm hidden-xs"></div> <button class="btn-default inverse invite-user" ui-sref="dashboard.user_student_add({id:vm.user_id})">Add Student</button>
            </h1>
        </div>

        <div class="clearfix space20"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortType = 'first_name';sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = '_id';sortReverse = !sortReverse">
                            School ID
                            <span ng-show="sortType == '_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == '_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'school_district';sortReverse = !sortReverse">
                            School District
                            <span ng-show="sortType == 'school_district' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'school_district' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in vm.students |filter:search|orderBy:first_name|orderBy:sortType:sortReverse">
                        <td>
                            {{student.first_name}}
                        </td>
                        <td>
                            {{student._id}}
                        </td>
                        <td>
                            {{student.school_district}}
                        </td>
                        <td class="text-center">
                            <a class="glyphicon-relative glyphicon glyphicon-trash" ng-click="vm.deleteUser(student._id,$index)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>