<div ng-hide="vm.show_user_group" class="text-center" style="margin-top: 18%">
    <div class="icon-wrapper">
        <span class="glyphicon glyphicon-refresh loading" aria-hidden="true"></span> <h2 class="loading">{{"views.loading"|translate}}</h2>
    </div>
</div>
<div ng-show="vm.show_user_group" class="container-fluid" ng-class="currentURL">
    <div class="row">

      <header class="header-background clearfix inverse">
        <div class="container">
          <div class="pull-left">
            <h1 class="page-title">
                {{"views.user_students_assignment"|translate}} <div class="divider-vertical hidden-xs"></div>
            </h1>
          </div>
          <div class="pull-right">
            <button class="btn btn-reverse invite-user" ui-sref="dashboard.user_student_add({id:vm.user_id})">{{"views.add_student"|translate}}</button>
          </div>
        </div>
      </header>

      <section class="main-content container">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table id="user_group" class="table">
                <thead fsm-sticky-header scroll-body="#user_group" scroll-stop="80">
                    <tr>
                        <th>
                            <a href="" ng-click="sortType = 'first_name';sortReverse = !sortReverse">
                            {{"views.name"|translate}}
                            <span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = '_id';sortReverse = !sortReverse">
                            {{"views.school_id"|translate}}
                            <span ng-show="sortType == '_id' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == '_id' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'school_district';sortReverse = !sortReverse">
                            {{"views.school_district"|translate}}
                            <span ng-show="sortType == 'school_district' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'school_district' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                        </th>
                        <th class="text-center">{{"views.delete"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in vm.students |filter:search|orderBy:first_name|orderBy:sortType:sortReverse">
                        <td>
                            {{student.first_name}}
                        </td>
                        <td>
                            {{student._id}}
                        </td>
                        <td>
                            {{student.school_district}}
                        </td>
                        <td class="text-center">
                            <a class="glyphicon-relative glyphicon glyphicon-trash" ng-click="vm.deleteUser(student._id,$index)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
      </section>
    </div>
</div>
