<div class="container-fluid" ng-class="currentURL">
    <div class="row">

        <header class="header-background clearfix inverse">
          <div class="container">
            <div class="pull-left">
               <h1 class="page-title">{{vm.user.full_name}}</h1>
            </div>
          </div>
        </header>

        <section class="main-content container">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <form class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ui-sref="dashboard.manage">{{"views.back"|translate}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-sm-2 control-label">{{"views.first_name"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-model="vm.user.first_name" class="form-control" id="first_name" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="middle_name" class="col-sm-2 control-label">{{"views.middle_name"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-model="vm.user.middle_name" class="form-control" id="middle_name" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-sm-2 control-label">{{"views.last_name"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-model="vm.user.last_name" class="form-control" id="last_name" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">{{"views.email"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-model="vm.user.email" class="form-control" id="email" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">{{"views.id"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-model="vm.user.id" class="form-control" id="id" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="created" class="col-sm-2 control-label">{{"views.created"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-value="vm.user.created | date : 'MM/dd/yyyy HH:mm:ss' : timezone" class="form-control" id="created" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_updated" class="col-sm-2 control-label">{{"views.last_updated"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" ng-value="vm.user.last_updated | date : 'MM/dd/yyyy HH:mm:ss' : timezone" class="form-control" id="last_updated" placeholder="" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <button ui-sref="dashboard.manage">{{"views.back"|translate}}</button>
                    </div>
                </div>

            </form>
        </div>

      </section>
    </div>
</div>
