<div class="container-fluid user_edit_permission">
    <div class="row">

      <header class="header-background clearfix inverse">
        <div class="container">
          <div class="pull-left">
            <h1 class="page-title">{{"views.invite_user"|translate}}</h1>
          </div>
        </div>
      </header>

        <section class="main-content container">

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="alert alert-info text-left message" ng-show=vm.message>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <form class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="vm.submit(vm.user)">{{"views.submit"|translate}}</button>
                        <button ui-sref="dashboard.manage">{{"views.back"|translate}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">{{"views.email"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="email" class="form-control" id="email" ng-model="vm.user.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="role" class="col-sm-2 control-label">{{"views.role"|translate}}:</label>
                    <div class="col-md-6 col-sm-10">
                        <select class="form-control" ng-model="vm.user.role" id="role">
                            <option value="admin">{{"views.admin"|translate}}</option>
                            <option value="case-worker-restricted">{{"views.assigned_users_restricted"|translate}}</option>
                            <option value="case-worker-unrestricted">{{"views.assigned_users_unrestricted"|translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="vm.submit(vm.user)">{{"views.submit"|translate}}</button>
                        <button ui-sref="dashboard.manage">{{"views.back"|translate}}</button>
                    </div>
                </div>

            </form>
        </div>

      </section>
    </div>
</div>
