<div class="container-fluid" ng-class="currentURL">
    <div class="row">

        <div class="col-xs-12 inverse header-background">
            <h1 class="page-title">
                Manage Users <div class="divider-vertical"></div> <button class="btn-default inverse invite-user" ui-sref="dashboard.user_invite">Invite User</button>
            </h1>
        </div>

        <div class="clearfix space20"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <form class="form-inline form-search">
                <div class="form-group">
                    <p class="form-control-static form-search-icon"><span class="glyphicon glyphicon-search"></span></p>
                </div>
                <div class="form-group">
                    <input type="text" id="search" class="form-control" ng-model="search" placeholder="Search Users">
                </div>
            </form>
        </div>
        <div class="clearfix space20"></div>

        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a href="" ng-click="sortType = 'first_name';sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'email';sortReverse = !sortReverse">
                            Email
                            <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'role';sortReverse = !sortReverse">
                            Role
                            <span ng-show="sortType == 'role' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'role' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                        </a>
                    </th>
                    <th  class="text-center">
                        <a href="" ng-click="sortType = 'activate';sortReverse = !sortReverse">
                            Active
                            <span ng-show="sortType == 'activate' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'activate' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                        </a>
                    </th>
                    <th  class="text-center">
                        <a href="" ng-click="sortType = 'studentCount';sortReverse = !sortReverse">
                            Assigned Students
                            <span ng-show="sortType == 'studentCount' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                            <span ng-show="sortType == 'studentCount' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                        </a>
                    </th>
                    <th class="text-center">Permissions</th>
                    <th class="text-center">Assign Students</th>
                    <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users |filter:search|orderBy:first_name|orderBy:sortType:sortReverse">
                    <td>
                        <a ui-sref="dashboard.user_view({id:user._id})">
                            {{user.full_name}}
                        </a>
                    </td>
                    <td>
                        <a href="mailto:{{user.email}}">
                            {{user.email}}
                        </a>
                    </td>
                    <td>{{user.role}}</td>
                    <td class="text-center">
                        {{user.activate ? 'Active' : 'Pending'}}
                        <span ng-if="!user.activate">
                                <a href="" ng-click="vm.reInvite(user)">Reinvite</a>
                            </span>
                    </td>
                    <td class="text-center">{{user.studentCount}}</td>
                    <td class="text-center">
                        <a ui-sref="dashboard.user_edit_permission({id:user._id})" class="glyphicon-relative glyphicon glyphicon-lock"></a>
                    </td>
                    <td class="text-center">
                        <a ui-sref="dashboard.user_group({id:user._id})" class="glyphicon-relative glyphicon glyphicon-user"></a>
                    </td>
                    <td class="text-center">
                        <a class="glyphicon-relative glyphicon glyphicon-trash" ng-click="vm.deleteUser(user._id,$index)" confirm-settings="{size: 'sm'}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>