<div class="container-fluid" ng-class="currentURL">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            Users
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button>Invite User</button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="text" placeholder="Search...">
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-striped">
                <tr>
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Active</th>
                    <th>Assigned Students</th>
                    <th>Permissions</th>
                    <th>Assign Students</th>
                    <th>Delete</th>
                    </thead>
                </tr>
                
            </table>
        </div>
    </div>
</div>