<div class="container-fluid user_edit_permission">
    <div class="row">

        <header class="header-background clearfix inverse">
          <div class="container">
            <div class="pull-left">
                 <h1 class="page-title">Add Student to User's Assignment:{{vm.user.full_name}}</h1>
            </div>
          </div>
        </header>

        <section class="main-content container">

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="row">
                <div class="alert alert-info text-left message" ng-show=vm.message>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{vm.message}}
                </div>
            </div>
        </div>

        <div class="col-xs-12">

            <form class="form-horizontal">

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="vm.submit(vm.student)">Submit</button>
                        <button ui-sref="dashboard.user_group({id:vm.user_id})">Back</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-6 col-sm-10">
                        <div class="checkbox">
                            <label for="new_student">
                                <input type="checkbox" id="new_student" ng-model="vm.new_student">
                                <span class="tick"><i class="glyphicon glyphicon-ok"></i></span>
                                 New Student
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-hide="vm.new_student">
                    <label for="student_id" class="col-sm-2 control-label">Student:</label>
                    <div class="col-md-6 col-sm-10">
                        <select ng-model="vm.student.student_id" class="form-control" id="student_id" ng-options="student._id as student.first_name+' '+student.last_name for student in vm.students">
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.new_student">
                    <label for="first_name" class="col-sm-2 control-label">First Name:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="first_name" ng-model="vm.student.first_name">
                    </div>
                </div>
                <div class="form-group" ng-show="vm.new_student">
                    <label for="last_name" class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="last_name" ng-model="vm.student.last_name">
                    </div>
                </div>
                <div class="form-group" ng-show="vm.new_student">
                    <label for="district_student_id" class="col-sm-2 control-label">District Student ID:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="district_student_id" ng-model="vm.student.district_student_id">
                    </div>
                </div>
                <div class="form-group" ng-show="vm.new_student">
                    <label for="school_district" class="col-sm-2 control-label">District Student Name:</label>
                    <div class="col-md-6 col-sm-10">
                        <input type="text" class="form-control" id="school_district" ng-model="vm.student.school_district">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="vm.submit(vm.student)">Submit</button>
                        <button ui-sref="dashboard.user_group({id:vm.user_id})">Back</button>
                    </div>
                </div>

            </form>
        </div>
      </section>
    </div>
</div>
